.footer {
  background-color: $bgc-footer;

  &__container {
    max-width: 1200px;
    padding: 20px 15px;

    a:focus {
      background-color: rgba(255, 255, 255, 0.3);
      box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.3);
    }
  }

  span {
    color: $c-red;
  }
}

@media (min-width: 768px) {
  .footer {
    &__container {
      padding: 30px 15px;
    }
  }
}
