.footer {
  background-color: $bgc-footer;

  &__container {
    max-width: 1200px;
    padding: 20px 15px;
    font-size: 0.9375rem;
  }

  span {
    color: $c-red;
  }
}

@media (min-width: 768px) {
  .footer {
    &__container {
      padding: 30px 15px;
    }
  }
}
