.home {
  height: 100vh;

  background-image: url(../img/main/bg-home.jpg);
  background-repeat: no-repeat;
  background-position: 60% 0;
  background-size: cover;

  &__container {
    max-width: 1200px;

    display: flex;
    align-items: center;
  }
  &__header {
    padding: 15px;
    margin-top: 48px;
    background-color: rgba(255, 255, 255, 0.7);

    h1 {
      font-size: 56px;
    }

    p {
      margin-bottom: 24px;
    }
    .btn {
      @include default-button(#fff, $c-orange);
      margin-bottom: 8px;
    }
  }

  &__scroll-ico {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
  }
}

@media (min-width: 576px) {
  .home {
    &__header {
      background-color: transparent;
    }
  }
}

@media (min-width: 1200px) {
  .home {
    &__header {
      margin-top: 0;
    }

    &__scroll-ico {
      bottom: 64px;
    }
  }
}

@media (min-width: 1500px) {
  .home {
    min-height: none;
    height: 100vh;
    max-height: 999px;
    background-position: 50% 0;
    background-size: contain;
  }
}
