.services {
  background-color: $bgc-services;

  &__container {
    max-width: 1200px;
    padding: 75px 15px 60px;
  }

  &__buttons {
    margin-top: 45px;
  }

  &__btn {
    display: flex;
    align-items: center;

    max-width: 400px;
    height: 75px;
    padding: 0;

    background-color: #fff;
    box-shadow: 0 2px 5px #888;
    transition: background-color 0.2s, color 0.2s, border 0.2s;

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
      padding: 0 16px;
      border-right: 1px solid #9d9d9d;
      transition: 0.2s;
    }

    svg {
      .icon-path {
        transition: 0.2s;
      }
    }

    &:focus {
      color: $c-orange;
      background-color: #fff;
      border: 1px solid $c-orange;
      box-shadow: 0 5px 15px #888;

      .services__btn__title {
        border-color: $c-orange !important;
      }

      svg {
        .icon-path {
          fill: $c-orange;
        }
      }
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__header {
    img {
      max-width: 100%;
    }

    h1 {
      transform: translateY(50%);
    }
  }
}

@media (min-width: 768px) {
  .services {
    &__container {
      padding: 110px 15px 90px;
    }

    &__buttons {
      margin-top: 0;
    }

    &__btn {
      &:hover {
        color: $c-orange;
        background-color: #fff;
        border: 1px solid $c-orange;
        box-shadow: 0 5px 15px #888;

        .services__btn__title {
          border-color: $c-orange !important;
        }

        svg {
          .icon-path {
            fill: $c-orange;
          }
        }
      }
    }

    &__header {
      h1 {
        padding-right: 15px;
        transform: translateY(70%);
      }
    }
  }
}

@media (min-width: 992px) {
  .services {
    &__container {
      padding: 170px 15px 140px;
    }

    &__buttons {
      button {
        width: 350px;
        height: 90px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .services {
    &__buttons {
      button {
        width: 400px;
        height: 100px;
      }
    }

    &__header {
      img {
        margin-top: -120px;
        margin-left: 0;
      }

      h1 {
        transform: translateY(0);
      }
    }
  }
}
